/* cake.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:#006782; 
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #F1DAB6;
}

#topBar {
  width: 100%;
  height: 40px;
  background: #1a1a1a;
  border-bottom: 2px solid #EE1857;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#game {
  flex: 1;
  display: flex;
  width: 100%;
  position: relative;
}
/* Left */
#clickArea {
  width: 28%;
  padding: 1rem;
  border-right: 2px solid #EE1857;
}
/* Middle */
#upgradeArea {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
/* Right: */
#rewardArea {
  width: 300px;
  padding: 1rem;
  border-left: 2px solid #EE1857;
  overflow-y: auto;
}
.separator {
  width: 16px;
  background:#EDBE9D;
}

#upgradeArea, #rewardArea {
  overflow-y: auto;
}
#bigCake {
  background : none;
  border: none;
  cursor: pointer;
}
#bigCake img {
  width: 280px;
  height: auto;
  display: block;
}

@media screen and (max-width: 1100px) {
  #clickArea, #rewardArea {
    display: none;
  }
  #upgradeArea {
    flex: 1;
  }
}

