/* cake.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:mistyrose; 
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #c78d30;
}

#topBar {
  width: 100%;
  height: 40px;
  background: ffe4e1;
  padding: 20px;
  padding-bottom: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#game {
  flex: 1;
  display: flex;
  width: 100%;
  position: relative;
}
/* Left */
#clickArea {
  width: 28%;
  padding: 1rem;
  border-right: 5px solid #267a8f;
}
/* Middle */
#upgradeArea {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
/* Right: */
#rewardArea {
  width: 300px;
  padding: 1rem;
  border-left: 5px solid #267a8f;
  overflow-y: auto;
}
.separator {
  width: 16px;
  background:#EDBE9D;
}

#upgradeArea, #rewardArea {
  overflow-y: auto;
}
#bigCake {
  background : none;
  border: none;
  cursor: pointer;
}
#bigCake img {
  width: 280px;
  height: auto;
  display: block;
}

button {
  background-color: rgb(255, 163, 178);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

button:hover {
  background-color: rgb(252, 179, 191);
}

#selections {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  #clickArea, #rewardArea {
    display: none;
  }
  #upgradeArea {
    flex: 1;
  }
}


